# ===== Environment =====
.env
.env.*
venv/
.venv/

# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===== Logs =====
*.log

# ===== Database =====
*.sqlite3

# ===== IDE =====
.vscode/
.idea/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Alembic =====
alembic/versions/__pycache__/
