fastapi
uvicorn[standard]
sqlalchemy
pymysql
pydantic
pydantic-settings
python-dotenv
email-validator
alembic
cryptography
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
pandas
openpyxl